@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins-400";
  font-style: normal;
  font-weight: 400;
  src: url("public/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins-400-1";
  font-style: italic;
  font-weight: 400;
  src: url("public/poppins-v20-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins-500";
  font-style: normal;
  font-weight: 500;
  src: url("public/poppins-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins-500-1";
  font-style: italic;
  font-weight: 500;
  src: url("public/poppins-v20-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins-600";
  font-style: normal;
  font-weight: 600;
  src: url("public/poppins-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins-600-1";
  font-style: italic;
  font-weight: 600;
  src: url("public/poppins-v20-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins-700";
  font-style: normal;
  font-weight: 700;
  src: url("public/poppins-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins-800";
  font-style: normal;
  font-weight: 800;
  src: url("public/poppins-v20-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header_img {
  position: relative;
}
.header_img img {
  width: 100%;
  height: 811px;
  top: -10px;
}

h5 {
  font-family: "Poppins-400";
}

a {
  font-family: "Poppins-400";
}

input {
  font-family: "Poppins-400";
}

.p1 {
  font-size: 14px;
  color: rgba(33, 56, 66, 0.6);
  font-family: "Poppins-400";
}

.p2 {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 14px;
  font-family: "Poppins-400";
}

.a1 {
  font-family: "Poppins-600";
}

.p3 {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 36px;
  font-family: "Poppins-700";
  color: rgb(77, 83, 60);
}

.border1 {
  border-top: 2px solid rgba(33, 56, 66, 0.0956);
  margin-bottom: 150px;
}

.p7 {
  margin-top: 20px;
  margin-bottom: 90px;
  font-size: 24px;
  font-family: "Poppins-400-1";
  color: rgb(77, 83, 60);
}

.p10 {
  font-family: "Poppins-500";
  color: rgb(77, 83, 60);
  font-size: 24px;
}

.border {
  border-bottom: 20px solid gray;
  position: relative;
  top: 800px;
  width: 1200px;
}

.p8 {
  font-family: "Poppins-400-1";
  color: rgb(77, 83, 60);
  margin-bottom: 25px;
}

.p6 {
  font-size: 22px;
  font-family: "Poppins-700";
  color: rgb(77, 83, 60);
}

.p9 {
  font-size: 16px;
  font-family: "Poppins-400";
  color: rgb(77, 83, 60);
  margin-bottom: 10px;
}

.h1_1 {
  font-size: 60px;
  font-family: "Poppins-700";
}

.icon-text {
  font-family: "Poppins-700";
}

menu {
  position: relative;
}
menu .clent {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  width: 1276px;
  height: 227px;
  position: absolute;
  top: -120px;
  box-shadow: 0.5px 32px 32px 0 rgba(0, 0, 0, 0.4470588235);
  padding: 60px;
}
menu .card-1 {
  width: 1209px;
  height: 644px;
  position: absolute;
  gap: 300px;
  top: 200px;
}
menu .card-1 .card-1_right {
  width: 474px;
  margin-top: -150px;
  padding-top: 150px;
  padding-left: 10px;
  padding-right: 20px;
  box-shadow: -0.5px 0 32px 32px #dddddd;
  height: 590px;
}
menu .card-1 .card-1_right a {
  text-decoration: none;
}

main {
  position: relative;
  top: 1000px;
}

.navbar_1 {
  width: 1111px;
}

.card_1 {
  gap: 150px;
  align-items: center;
}

.card_2 {
  margin-bottom: 300px;
  display: flex;
  gap: 76px;
  align-items: center;
  width: 1191px;
}
.card_2 .left {
  position: relative;
}
.card_2 .card_d {
  position: absolute;
  width: 453px;
  top: 450px;
  left: 350px;
  padding: 33px 30px;
  border-radius: 10px;
  box-shadow: 32px 32px 32px 9.5px #dddddd;
}

.card_3 {
  margin-bottom: 300px;
  display: flex;
  gap: 76px;
  align-items: center;
  width: 1191px;
}
.card_3 .left {
  position: relative;
}
.card_3 .card_d {
  position: absolute;
  width: 453px;
  top: 450px;
  left: -100px;
  padding: 33px 30px;
  border-radius: 10px;
  box-shadow: -32px 32px 32px 1.5px #dddddd;
}

footer {
  position: relative;
  top: 1200px;
}
footer .text_card {
  background-color: rgb(250, 250, 250);
  position: absolute;
  margin-top: -180px;
  box-shadow: 18.5px -32px 32px -18px rgba(0, 0, 0, 0.3294117647);
  width: 1275px;
  margin-left: -204px;
  padding: 40px;
}
footer .p11 {
  font-size: 60px;
  margin-left: 204px;
  font-family: "Poppins-700";
  color: rgb(77, 83, 60);
}
footer .footer_bottom_top {
  gap: 128px;
}
footer .footer_bottom_top a {
  text-decoration: none;
}

.card_bottom {
  margin-bottom: 100px;
}

.footer_bottom {
  background-color: rgb(77, 83, 60);
  height: 1020px;
}
.footer_bottom .footer_bottom_bottom {
  margin-top: -170px;
}
.footer_bottom img {
  width: 100%;
  height: 100%;
}
.footer_bottom .footer_bottom_top {
  position: absolute;
  top: 400px;
}
.footer_bottom .p12 {
  font-size: 14px;
  color: rgb(182, 193, 151);
  font-family: "Poppins-400";
}
.footer_bottom .p77 {
  font-size: 14px;
  color: rgb(182, 193, 151);
  font-family: "Poppins-400";
  text-decoration: none;
}
.footer_bottom .a2 {
  font-size: 14px;
  color: rgb(182, 193, 151);
  font-family: "Poppins-400";
  text-decoration: none;
}
.footer_bottom a {
  font-family: "Poppins-700";
  font-size: 16px;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer_bottom a:hover {
  color: rgba(255, 255, 255, 0.6705882353);
}
.footer_bottom .p21 {
  font-family: "Poppins-700";
  font-size: 16px;
  color: #ffffff;
  transition: all 0.5s ease;
}

.border3 {
  border: 1px solid rgb(93, 101, 68);
  position: relative;
  z-index: 5;
  top: -350px;
  width: 1200px;
}

.border4 {
  border: 1px solid rgb(93, 101, 68);
  position: relative;
  z-index: 5;
  top: -90px;
  width: 1200px;
}

.footer_end1 {
  margin-top: -50px;
}

.p77 {
  font-size: 14px;
  color: rgb(182, 193, 151);
  font-family: "Poppins-400";
  text-decoration: none;
}

.container {
  max-width: 1111px;
  margin: 0px auto;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(66, 64, 64, 0.3803921569);
  border-radius: 10px;
}

.overflow {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  width: 100%;
}

.card_owerd {
  width: 100%;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */